<div class="comment-item">
    <div class="comment-head">
        {% if comment.author.profile.avatar %}
            <img src="{{ comment.author.profile.avatar.url }}" class="comment-avatar" alt="">
        {% else %}
            <div class="comment-avatar"></div>
        {% endif %}

        <div>
            <div class="comment-author">{{ comment.author.profile.nickname }}</div>
            <div class="comment-time">{{ comment.created_at|date:"d.m.Y H:i" }}</div>
        </div>
    </div>

    <div class="comment-text">
        {{ comment.text|linebreaks }}
    </div>
</div>