{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySocial</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <nav class="topbar">
            <div class="topbar-left">
                <a href="{% url 'home' %}" class="nav-link brand">MySocial</a>
                <a href="{% url 'home' %}" class="nav-link">Главная</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'subscriptions_feed' %}" class="nav-link">Лента</a>
                    <a href="{% url 'create_channel' %}" class="nav-link">Создать канал</a>
                {% endif %}
            </div>

            <div class="topbar-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile_detail' slug=user.profile.slug %}" class="nav-link">Профиль</a>

                    <a href="{% url 'notifications' %}" class="bell-link">
                        🔔
                        {% if unread_notifications_count > 0 %}
                            <span class="bell-badge">{{ unread_notifications_count }}</span>
                        {% endif %}
                    </a>

                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-light">Выйти</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Войти</a>
                    <a href="{% url 'register' %}" class="button-light">Регистрация</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}{% endblock %}
    </div>
</body>
</html>