{% extends 'base.html' %}
{% block content %}
<h1>Новая статья в канале {{ channel.title }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div style="margin-bottom:16px;">
        <label>Заголовок</label>
        {{ form.title }}
    </div>

    <div style="margin-bottom:16px;">
        <label>Обложка</label>
        {{ form.cover }}
    </div>

    <div style="margin-bottom:16px;">
        <label>Статус</label>
        {{ form.status }}
    </div>

    <div style="margin-bottom:16px;">
        <label>Текст статьи</label>
        {{ form.content }}
    </div>

    <button type="submit">Сохранить</button>
</form>

<p>Чтобы статья появилась на главной, поставь статус Published.</p>

{{ form.media }}
{% endblock %}